@media (max-width: 767px) and (orientation: portrait) {

	.backgroundMap {
		width: 300%;
	}

 	.listSection {
		width: 100vw;
	} 
} 

@media (max-width: 840px)  {
	nav p {
		font-size: 9px;
	}
} 

@media (max-width: 767px)  {

    .wrapper {
		padding: 0;
	}

	.wrapper {
		padding: 0;
	}

	.contentOnMap {
		padding: 0;
	}

	nav.row {
		display: none;
	}

	h1 {
		text-align: center;
	}

	section.titleSection {
		height: 20%;
	}

	.titleWrapper {
	    display: flex;
	    align-items: center;
	    justify-content: space-around;
	}

	.hamburger {
		display: block;
	}

	section.listSection {
		height: 80%;
	margin-right: 0;
		margin-left: 0;	
	}

	section.listSection ul li {
		white-space: nowrap;
	}
	
	.listRow {
		margin: 0 5px;
	}

	.description div {
		margin: 0 15px;
		padding: 20px;
	}
} 

@media (max-height: 500px) {
	.description {
		display: none;
	}
}

@media (max-width: 425px)  {
	h1 {
		font-size: 35px;
	}
} 


